<html><head><title>Detected Ransomware Files</title></head><body><h1>Detected Ransomware Files</h1><ul><li>detected_ransomware\test_file.txt.encrypted</li><li>detected_ransomware\test_file1.txt</li><li>detected_ransomware\test_file1.txt.encrypted</li><li>detected_ransomware\test_file2.txt</li><li>detected_ransomware\test_file2.txt.encrypted</li><li>detected_ransomware\test_file3.txt</li><li>detected_ransomware\test_file3.txt.encrypted</li></ul>
    <form action="/block_files" method="post">
        <input type="submit" value="Block Files">
    </form>
    </body></html>